
.hong-kong-background {
  background-image: url('./hongkong.jpg');
}

.background-photo{
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}

.melbourne-background {
  background-image: url('./melbourne.jpg');
}

.newyork-background {
  background-image: url('./newyork.jpg');
}
