.icon-left {
    padding-right:20px;
}
.icon-left-more {
    padding-right:25px;
}

.icon {
    padding-top: 10px;
    padding-bottom: 12px;
}

.container {
    position: fixed;
    bottom: 0;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    z-index: 100;
    display:flex;
}

.not-main-container {
    background-color:#4d90bd;
    width:100%;
}