.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #0099ff;
    /* background: #b8b7ad; */
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background:lightblue;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    display: none;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: lightblue;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow-y: hidden !important;
  }

  .bm-overlay {
    top: 0;
    left: 0;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  .menu-item {
    text-decoration: none;
    color: darkslategrey
  } 

  /* new header style below */
.container-style {
  font: 18px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  color:white;
}

.inner-container-style {
  min-height: 48px;
  width: auto;
  text-align: center;
  padding: 0;
  border: none;
  outline: none;
}

.header-text {
  position: relative;
  list-style: none;
  display: inline;
}

.header-text-style {
  cursor: pointer;
  margin-left:1%;
  margin-right:1%;
}

.current {
  color:blue;
}