
.sydney-background {
  background-image: url('./assets/sydney.JPG');
}

.background-photo{
  height: 100%; 
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
}

.hamilton-background {
  background-image: url('./assets/hamilton_island.JPG');
}

.great-ocean-road-background {
  background-image: url('./assets/great_ocean_road.JPG');
}

.subtext {
  flex-direction: row !important;
}
